body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

header {
  background-color: black;
  display: flex;
  align-items: center;
  position: fixed;
  border-bottom: 1px solid seashell;
  text-decoration: underline;
  padding-left: 10px;
  height: 69px;
  width: 100%;
}

header img {
  height: 50px;
  width: auto;
}

.container {
  background-image:url(images/img-mission-background.jpg);
  margin-top: 69px;
  height: 700px;
  width: auto;
}

.mission {
  
}

.monthpics img {
  height: 200px;
  width: 300px;
}

.locations {
  display: flex;
  background-image:url(images/img-locations-background.jpg);
  height: 500px;
  width: auto;
}
