body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  text-align: center;
  margin: 0;
}
  
header {
  background-color: black;
  align-items: center;
  position: fixed;
  border-bottom: 1px solid seashell;
  height: 69px;
  width: 100%;
  z-index: 1;
}

nav {
  padding-right: 20px;
  text-align: right;
}

nav span {
  display: inline-block;
  padding: 10px 10px;
}

header img {
  height: 50px;
  padding-left: 10px;
}

.main {
  padding-top: 69px;
  opacity: 0.9;
  width: 1200px;
  margin: auto;
}

#mission {
  background-image:url(images/img-mission-background.jpg);
  padding-top: 69px;
  height: 700px;
}

#mission .content {
  margin: auto;
  width: 100%;
  background-color: black;
}

a {
  color: seashell;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.mission {
  background-color: black;
  width: 100%;
  margin: auto;
}

h2, h3, h4 {
  margin: 0;
  padding: 10px
}

#month {
  height: 700px;
  width: 1000px;
  margin: auto;
  padding-top: 69px;
}

figure {
  padding: 5px;
}

figure img {
  height: 200px;
  width: 300px;
  margin: 10px;
  display: block;
}

figcaption {
  display: block;
  padding: 5px;
  font-weight: bold;
  text-align: center;
}

#locations {
  background-image:url(images/img-locations-background.jpg);
  height: 500px;
  padding-top: 69px;
}

.addresses {
  display: flex;
  margin: auto;
  width: 1100px;
  padding-top 5px;
  justify-content: center;
  flex-wrap: wrap;
  
}

.col {
  background-color: black;
  opacity: 1.0;
  padding: 10px;
  margin: 5px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 280px;  
}

.contact {
  height: 200px;
}

.copyright {
  text-align: left;
}
